body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.quote-container {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
}

.quote-text {
    font-size: 24px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.quote-author {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    border: 2px solid #0056b3;
    background-color: #0056b3;
}

button:hover {
    background-color: #003c80;
}
